.host
  = brief(host)
  - unless host.description.blank?
    .description= host.description
  - unless host.instances.blank?
    %ul
      - host.instances.each do |instance|
        %li= summarize(instance)