%h1 Host details

%span Name:
%span= @host.name

- unless @host.description.blank?
  .description= @host.description

%h2== Has #{pluralize(@host.instances.size, 'app instance')} deployed:
%ol
  - @host.instances.each do |instance|
    %li= summarize(instance)