%h1 Host details

%span Name:
%span= @host.name

- unless @host.description.blank?
  .description= @host.description

%h2== Has #{pluralize(@host.apps.size, 'app')} deployed:
%ol
  - @host.apps.each do |app|
    %li= summarize(app)