html { 
  background: #cceecc; 
  font-family:Arial, Verdana, sans-serif; 
  font-size:13px; ´
}

body { 
  padding:0; 
  margin:0;
}

.header { 
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  padding:6px 10px;
  margin: 3px 3px; 
  background:#fafafb;
  border: 1px solid #aad; 
}

.header ul {
  margin-left: 0;
  padding-left: 0;
}

.header ul li {
  display: inline;
  margin-right: 1ex;
}

.header ul li a {
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  color: #363;
}

.header ul li a:hover {
  color: #797;
}

.header ul li .current {
  
}

#main { 
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  margin: 3px;
  padding:10px 5%; 
  background:#fff; 
  overflow:hidden; 
  border: 1px solid #aad; 
  
}

#main h1 { 
  margin:10px 0; 
  font-size:190%; 
  font-weight:bold; 
  color:#000;
}

#main h2 { 
  margin:10px 0; 
  font-size:130%;
}

#main a { 
  color:#b3b;
  font-weight: bold;
  text-decoration: none;
}

#main p { 
  margin:5px 0;
}
  
#main hr { 
  border:0; 
  border-top:5px solid #efefef;  
  margin:15px 0;
}

#footer { 
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  padding:6px 10px;
  margin: 3px 3px; 
  background:#fafafb;
  border: 1px solid #aad;
}  

.description {
  font-style: italic;
  border-bottom: 1px solid #eee;
}