.customer
  = link_to customer.name, customer
  - unless customer.description.blank?
    .description= customer.description
  - unless customer.apps.blank?
    %ul
      - customer.apps.each do |app|
        %li.included= summarize(app)