%h1 Customers

= link_to 'Add new customer', new_customer_path

- if @customers.blank?
  %h3 No customers.
- else
  %ul
    - @customers.each do |customer|
      %li
        = link_to '[edit]', edit_customer_path(customer)
        = summarize(customer)