.app
  == #{brief app.customer} -> 
  = brief(app)
  - unless app.hosts.blank?
    %ul
      - app.hosts.each do |host|
        %li= brief(host)
  - unless app.description.blank?
    .description= app.description 